<h1 class="center">Games Project</h1>
<hr />
<div class="row">
  <div class="col s12 m6">
    <h3>Games</h3>
    <button class="btn toggle-button" id="toggle-games" data-pane="games">Show Form</button>
    <ul id="games-list">
      <% @games.each do |game| %>
        <%= render partial: 'game', locals: { game: game } %>
      <% end %>
    </ul>
  </div>
  <div class="col s12 m6">
    <h3 id="game">Characters In Game</h3>
    <button class="btn toggle-button" id="toggle-characters" data-pane="characters">Show Form</button>
    <ul id="characters-list"></ul>
  </div>
</div>