<li>
  <div
    class="char-item"
    data-id=<%= character.id %>
    data-name="<%= character.name %>"
  >
    <%= character.name %> - <%= character.power %>
  </div>
  <button class="btn edit-char">Edit</button>
  <button class="btn delete-char">Delete</button>
</li>